
    body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            color: black;
        }
        #chart-container {
            max-width: 400px;
            margin: 20px auto;
        }
        input[type="number"] {
            width: 50px;
            padding: 5px;
            font-size: 16px;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        select {
            padding: 5px;
            font-size: 16px;
        }
        img {
            width: 30px; /* Adjust the size of the image as needed */
            height: 30px;
            cursor: pointer;
            vertical-align: middle;
            margin-left: 5px; /* Add margin for spacing */
        }
        label {
            font-family: Arial, sans-serif;
            font-size: 15px;
        }

        .footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: relative; /* Changed from fixed to relative for demonstration */
            bottom: 0;
            width: 100%;
        }
        
.footer p {
    margin: 0;
}
